@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
@import url("https://fonts.googleapis.com/css?family=Days+One");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");

html, body {
  background-color: #968063;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}
